.listContent {
	width: 100vw;
	padding: 20px;
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	justify-content: center;
}
.paginationContainer {
	width: 100vw;
	display: flex;
	justify-content: center;
}
.ant-layout-header {
	color: white !important;
}

.cardsByRows {
	padding: 20px;
	width: 300px;
}
.productCard {
	cursor: pointer;
}
